{% comment %} <!DOCTYPE html>
<html>
<head>
    <title>Confirmare e-mail</title>
</head>
<body>
    <h1>Bun venit, {{ prenume }} {{ nume }}!</h1>
    <p>Username: {{ username }}</p>
    <p>Te rugăm să confirmi e-mailul accesând linkul de mai jos:</p>
    <a href="http://localhost:8000/proiect/confirma_mail/{{ cod }}">Confirmă e-mail</a>
    <br>
    <img src="https://www.pngitem.com/middle/TTmhTJw_logo-logo-for-makeup-store-hd-png-download/" alt="Logo-ul site-ului" width="200" height="200">
</body>
</html> {% endcomment %}
<!DOCTYPE html>
<html>
<head>
    <title>Confirmare Email</title>
</head>
<body>
    <h2>Bun venit pe site-ul nostru, {{ prenume }} {{ nume }}!</h2>
    
    <img src="calea_catre_logo/logo.png" alt="Logo Site" style="max-width: 200px;">
    
    <p>Dragă {{ username }},</p>
    
    <p>Îți mulțumim pentru înregistrare! Pentru a-ți activa contul, te rugăm să dai click pe linkul de mai jos:</p>
    
    <a href="http://localhost:8000/proiect/confirma_mail/{{ cod }}">Confirmă e-mail</a>

    <p>Dacă nu tu ai creat acest cont, te rugăm să ignori acest email.</p>
</body>
</html>

